<br>
<p>Наш сервис призван помоч Вам в выборе компьютера исходя из Ваших потребностей!</p>
<p>После выполнения нескольких шагов, система даст рекомендации по покупке комплектующих.</p>
<br>
<%= button_to "Поехали!", 
						url_options = {		 
														action: "showStep2", 
													},
						html_options = { 	
														 class: "class_selectComponents_button_step1"
													 }
%>
