<ul id="id_menu_left">

	<li class="class_li_sidebarL">
		<%= link_to "Знакомство с комплектующими", information_path, { class: "black_fon class_link_sidebarL" } %>		
	</li>
	<li class="class_li_sidebarL">
		<%= link_to "Приступить к выбору комплектующих", select_components_path, { class: "black_fon class_link_sidebarL" } %>
	</li>

</ul>


